body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #000;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    color: #fff;
    padding: 20px;
    font-family: consolas;
    text-align: center;

}
.content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}